@import "../../vars.css";

.container{
    margin-top: 70px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    margin-left: 5%;
}

.projects {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 100%;
}

@media screen and (max-width: 830px) {
    .container{
        text-align: center;
    }

    .title {
        margin-left: 0%;
        display: inline-block;
    }
}