:root {
    /*Colors*/
    --color-text: #ffffff;
    --color-primary: rgb(244, 125, 95);
    --color-bg1: #c34b36 ;
    --color-dark: #761f1f;
    --color-bg:#a73c2f;
    --color-light-dark:#8d2828;

    /*fonts*/
    --font-roboto: "Roboto";    
}