@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    z-index: 2;
    margin: 0 10%;
    margin-left: 10px;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    margin-left: 40px;
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 45px;
    list-style: none;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}

@media screen and (min-width: 735px) {
    .menuBtn {
        display: none;
    }

    .menuItems {
        display: flex;
    }
}

@media screen and (max-width:735px) {
    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0%;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(195, 75, 54, 0.3) 0%, rgba(244, 125, 95, 1) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 --color-dark;
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
}